@import "tailwindcss";

@theme {
  /* green */
  --color-brand: #1d7c42;
  --color-darkgreen: #155a31;
  --color-lightgreen: #42a85f;
  --color-softgreen: #7fd98c;
  --color-verylightgreen: #dff7e5;

  --color-brand-900: #155a31;
  --color-brand-700: #1d7c42;
  --color-brand-500: #42a85f;
  --color-brand-300: #7fd98c;
  --color-brand-100: #dff7e5;

  --color-neutral-900: #155a31;
  --color-neutral-700: #1d7c42;
  --color-neutral-500: #42a85f;
  --color-neutral-300: #7fd98c;
  --color-neutral-100: #dff7e5;

  --color-accent-500: #f4a261;
  --color-accent-300: #fcd5a3;

  --color-contract-500: #457b9d;
  --color-contract-300: #a8dadc;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}
